// @var [Course] @cohort
// @var [CohortUser] @cohort_user

- lessons = @cohort.active_lessons

h3 my lessons


- lessons.each do |lesson|
  - if lesson.published?
    .row
      .col-md-1 Lesson - #{lesson.position + 1}
      .col-md-4= lesson.title
      .col-md-2
        = link_to("check in",:action => :checkin, :cohort_lesson_id => lesson.permalink)

/ - course = @cohort.course
/ .row.course-progress
/   .col-md-12
/     h1= course.short_id.titleize

/   .course-progress-sidebar.col-md-4.pull-right
/     / = render "checkin"

/     h5 Group WeChat
/     .row.wechat-group
/       .col-md-8
/         .qr-code= image_tag("nodejs-wechat-qr.jpg")

/     / h5 Participants

/   .col-md-8
/     / = render "progress_grid"
/     = render "cohorts/lessons", :lessons => course.lessons, :cohort => @cohort, :cohort_user => @cohort_user

/ = render "checkin_modal_form"
