// Place all the styles related to the admin::status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colors:  #48a26d, // level 1, too simple
					#a8dbbd, // level 2,simple
					#53b5b2, // level 3,normal
					#d398ac, // level 4,hard
					#b35373; // level 5,too hard


@mixin lesson {
	.lesson{

		height: 50px;
		width: 20px;
		background-color: blue;
		display: inline-block;
		margin-right: 10px;
		text-align: center;
		box-sizing: border-box;
		vertical-align: bottom;

		&.difficulty-undone{
			background-color: #aaa;
		}

		@for $i from 1 through length($colors) {
			&.difficulty-#{$i}{
				background-color: nth($colors,$i);
			}
		}
	}
}


h1{
	text-align: center;
}

.legend{

	margin: 50px 0;

	.legend-wrapper{
		width:70%;
		margin: 0px 0 0 30%;
		@include lesson;
		.lesson{
			width:12%;
			height:20px;
		}
		p{
			margin-bottom: 0;
			display: inline-block;
			font-size: 16px;
			width:12%;
		}
	}
}

.item{

	margin-bottom:20px;

	p.user-info{
		.user-name{
			color:#a9de06;
			padding-right: 20px;
		}

		.user-email{
			color:#d1ae94;
			padding-right:20px;
		}
	}

	.user-courses{

		margin-left: 50px;

		@include lesson;

		.lesson{
			padding-top:15px;
		}

		p.finish{
			display: inline-block;
			height:100%;
			width:150px;
			padding-right:20px;

			span.percentage{
				color:#d2608a;
				font-size: 1.3em;
			}
		}
	}

	.user-timeline{

		margin-top: 20px;
		margin-left: 50px;

		.day{
			width:10px;
			height:20px;
			display: inline-block;
			background-color:gray;
			margin-right: 10px;

			&.checked{
				background-color: #3062bb;
			}
		}
	}

}


