h5 Check-in

/ ul.course-progress-checkins
/   li
/     .mugshot= image_tag("http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=40")
/     .body
/       b Lesson 1 - Explore Mongoid
/       .timestamp Completed 24m ago

/   li
/     .mugshot= image_tag("http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=40")
/     .body
/       b Lesson 1 - Explore Mongoid
/       .timestamp Completed 24m ago

/   li
/     .mugshot= image_tag("http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=40")
/     .body
/       b Lesson 1 - Explore Mongoid
/       .timestamp Completed 24m ago

/   li
/     .mugshot= image_tag("http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=40")
/     .body
/       b Lesson 1 - Explore Mongoid
/       .timestamp Completed 24m ago